.profile {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.profileImageContainer {
  position: relative;
  width: 50px;
  height: 50px;
}
.profileImage {
  border-radius: 50%;
}
.leader {
  position: absolute;
  right: -5px;
  bottom: 0;
}
.leaderImageContainer {
  position: relative;
  width: 25px;
  height: 20px;
}
.name {
  align-self: center;
  font-weight: bold;
  margin-left: 5px;
  font-size: 0.9rem;
}