.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: darkgreen;
}

.container {
  box-sizing: border-box;
  width: 480px;
  padding: 60px 50px 80px;
  background: #fff;
  border-radius: 6px;
  background: #fff;
  border: solid 1px #eef1f6;
  float: left;
}
.login__title {
  font-size: 24px;
  font-weight: bold;
  color: #343434;
  line-height: 1.5;
  letter-spacing: -1.5px;
  margin: 0;
}

.email, .pw{
  margin-top: 26px;
}
.login__content {
  padding-top: 24px;
}

.login__text {
  display: block;
  font-size: 16px;
  line-height: 1.58;
  color: #676a6d;

}

.login__input {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dde3eb;
  background: #fff;
  height: 48px;
  padding: 0 14px;
  font-size: 16px;
  line-height: 46px;
  color: #343434;
  border-radius: 4px;
}
.login__btn {
  margin-top: 26px;
  border: 1px solid #EEF1F6;
  font-size: 20px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -0.6px;
  color: #fff;
  background: #3389ff;
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}